body{
    padding: 150px 100px 100px 370px;
    
}
h1{
    text-align: center;
    margin-right: 250px;
}
#container{
    text-align: center;
    background-color: aqua;
    padding: 100px 100px 100px 100px;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;

    

}
.input-div{
    display: inline-block;
    padding: 10px;

}
.inp{
    padding: 5px 10px;
    margin:10px;
    font-size: 30px ;
    font-weight: bold;
    text-align: center;
}
label{
    font-size: 25px;
    }